.slide-enter-active, .slide-leave-active {
  transition: transform 1s ease-in-out, opacity 1ms ease-in-out;
}

.slide-enter {
transform: translateX(100%);
opacity: 0;
}

.slide-enter-active {
transform: translateX(0);
opacity: 1;
}

.slide-leave-active {
transform: translateX(100%);
opacity: 0;
}

#slider{
  background-image: url('./heroImage.jpg');
  background-size: contain;
  background-position: right;
}

#slider .hero-bg{
  background-image: linear-gradient(to right, #000 55%, transparent);
}

#slider-content{
  width: 65%;
}


@media screen and (max-width: 768px) {
  #slider-content{
    width: 100%;
  }
}